doctype html
html
  head
    title= title

    //- favicon
    link(rel='shortcut icon', href='/favicon.ico' type='image/x-icon')
    link(rel='icon', href='/favicon.png', type='image/png')
    link(rel='apple-touch-icon', sizes='180x180', href="/favicon.png")

    //- button stylesheets
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/vicons-font.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')

    //- jQuety UI CSS
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')

    //- customized for this project.
    link(rel='stylesheet', href='/stylesheets/style.css')

    block header-scripts
  body
    //- block navigator
    include layout_top_menu
  
    header
      h1= section
      h2 Welcome to 
        span.title-color= title
        span , Hello Guys!

    block content

    hr
    footer
      div(align="center", valign="center", style="height:60px;")
        span(style="font-size:1.3rem; color: #99AAFF;") Powered by 
        a(href="http://nodejs.cn/", target="_blank")
          img(src="/images/nodejs-logo.png", alt="node.js", title="node.js", height="24px")
        | 
        a(href="http://expressjs.com.cn/", target="_blank")
          img(src="/images/express-logo.png", alt="express", title="express", height="24px")
        | 
        a(href="http://pugjs.org/", target="_blank")
          img(src="/images/pug-logo.png", alt="pug", title="pug", height="24px")
        | 
        a(href="http://jquery.com/", target="_blank")
          img(src="/images/jquery-logo.png", alt="jQuery", title="jQuery", height="24px")
        | 
        a(href="http://jqueryui.com/", target="_blank")
          img(src="/images/jquery-ui-logo.png", alt="jQuery UI", title="jQuery UI", height="24px")

    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    //- Localization
    script(src="/i18n/datepicker-zh-CN.js")

    block footer-scripts
