doctype html
html
  head
    title= 'App name : ' + title

    // button stylesheets
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/vicons-font.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')

    // customized for this project.
    link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
  body
    // block navigator
    a.pagejumping(href="/") Go to Index/Router 
    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a.pagejumping(href="/section2") Go to Section 2
  
    block content
