doctype html
html
  head
    title= 'App name : ' + title

    //- favicon
    link(rel='shortcut icon', href='/favicon.ico' type='image/x-icon')
    link(rel='icon', href='/favicon.png', type='image/png')
    link(rel='apple-touch-icon', sizes='180x180', href="/favicon.png")

    //- button stylesheets
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/vicons-font.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')

    //- jQuety UI CSS
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')

    //- customized for this project.
    link(rel='stylesheet', href='/stylesheets/style.css')

    block header-scripts
  body
    //- block navigator
    header
      a.pagejumping(href="/") Index/Sect.1 
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section2") Sect.2
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section3") Sect.3
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section4") Sect.4
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section5") Sect.5
      hr
  
    block content

    footer
      div(style="height:20px;")
      div(style="height:20px;")
        hr
      div(align="center", valign="center", style="height:60px;")
        span(style="font-size:1.3rem; color: #99AAFF;") Powered by 
        img(src="/images/nodejs-logo.png", alt="node.js", height="24px")
        | 
        img(src="/images/express-logo.png", alt="express", height="24px")
        | 
        img(src="/images/pug-logo.png", alt="pug", height="24px")
        | 
        img(src="/images/jquery-logo.png", alt="jQuery", height="24px")
        | 
        img(src="/images/jquery-ui-logo.png", alt="jQuery UI", height="24px")

    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    block footer-scripts
