doctype html
html
  head
    title= 'App name : ' + title

    // favicon
    link(rel='shortcut icon', href='/favicon.ico' type='image/x-icon')
    link(rel='icon', href='/favicon.png', type='image/png')
    link(rel='apple-touch-icon', sizes='180x180', href="/favicon.png")

    // button stylesheets
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/vicons-font.css')
    link(rel='stylesheet', href='/stylesheets/buttons.css')

    // customized for this project.
    link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
  body
    // block navigator
    header
      img(src="/images/jquery-logo.png", height="18px")
      | 
      a.pagejumping(href="/") Index/Sect.1 
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section2") Sect.2
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section3") Sect.3
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section4") Sect.4
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a.pagejumping(href="/section5") Sect.5
  
    block content
