a.pagejumping(href="/") Index/Sect.1
span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
a.pagejumping(href="/section2") Sect.2
span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
a.pagejumping(href="/section3") Sect.3
span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
a.pagejumping(href="/section4") Sect.4
span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
a.pagejumping(href="/section5") Sect.5
hr
