extends layout

block content
  h1= errortips

  p
    | &nbsp;&nbsp;&nbsp;
    button(class="button button--wayra button--border-thin button--round-s", onclick="javascript:history.back(-1);") Back to the previous page