extends iframe-layout

block content
  // errcode = -1, errstring = 'Upload Failed! Multer Error happened.';
  // errcode = -2, errstring = 'Upload Failed! Unknown Error happened.';
  // errcode = 0, errstring = 'Upload Succeeded.';
  p 上传结果：
    case errcode
      when "-1"
        b Upload Failed! Multer Error happened. 上传失败！Multer中间件错误。
      when "-2"
        b Upload Failed! Unknown Error happened. 上传失败！未知错误。
      default
        b Upload Succeeded. 上传成功！

  p 文件格式：#{uploadedfile.mimetype}
  - var img = uploadedfile.mimetype.search(/image/i);
  if (img>=0)
    p 图片详情：
      img(src="/upload/cache/"+uploadedfile.filename, alt=uploadedfile.filename, width="160px", height="160px")
  else
    p 文件链接：
      a(href="/upload/cache/"+uploadedfile.filename) #{uploadedfile.filename}

  p
    div(style="width:95%", align="right")
      button(onclick="javascript:window.location.href=\"/upload/form/\"", style="cursor:pointer; width:180px; height:50px; background:#456590; color:#EEEEEE; font-size:14pt") 继续上传文件

  br
  p
    h2 This is Section4-Upload-Result. (Testing upload file with Multer)