extends iframe-layout

block scripts
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/section4-upload-form.js")

block content
  form(action="/upload/handle", name="uploadForm", method="post", enctype="multipart/form-data")
    input(type="file", name="srcFile", id="srcFile", style="width:85%")
    p 注：上传文件仅限&nbsp;
      span(id="limitedextnameLabel")
      | &nbsp;格式，大小限制在&nbsp;
      span(id="limitedsizeLabel")
      | &nbsp;以内。
    p
      div(style="width:95%", align="right")
        input(type="submit", value="开始上传文件", style="cursor:pointer; width:180px; height:50px; background:#456590; color:#EEEEEE; font-size:14pt")

  br
  p
    h3 This is Section4-Upload-Form. (Testing upload file with Multer)