extends layout

block scripts
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="/javascripts/section5.js")

block content
  h3 Welcome to #{title} page

  h3 Text Area 1: Stream reading and writing.