extends layout

block header-scripts
  link(rel='stylesheet', href='/stylesheets/section5.css')

block content
  h3 Welcome to 
    span.title-color= title
    |  page

  h3 Test Area A: Interval Timer, Ajax DOM post/get, File stream reading and writing.
  p
    table(width="900")
      tr
        td
          span(class="spn_title") Simple Project Notepad
        td(colspan="2", align="right")
          span(id="spanClock", class="clk_text")
          | &nbsp;&nbsp;
          button(id="toggleInterval", style="width:200px")
      tr
        td
          b To do :
        td
          b In progress :
        td
          b Done :
      tr
        td(width="33%")
          textarea(id="taTodo", style="width:100%", rows=20)
        td(width="33%")
          textarea(id="taInprogress", style="width:100%", rows=20)
        td
          textarea(id="taDone", style="width:100%", rows=20)
      tr
        td(colspan="3", align="center")
          div(id="divResponse", hidden)

  hr
  h3 Test Area B: Promise Callback, Timeout Timer, Ajax DOM get, File stream reading and writing.
  
  p Click the button below that you will get the response about a sample file's test information from server side.
  p
    table(width="900")
      tr
        td(width="200", align="right", valign="top")
          button(id="btnTest", style="width:200px; height:50px") Get file information Test
        td(width="100", align="right", valign="top") 
          | Response : 
        td(valign="top")
          div(id="divTest", class="test", style="height:200px") 

block footer-scripts
  script(src="/javascripts/section5.js")
