extends iframe-layout

block scripts
  link(rel='stylesheet', href='/stylesheets/section4-upload-form-style.css')
  script(src="/javascripts/section4-upload-form.js")

block content
  div(class="upload_box", ondragover="onUploadBoxDragOver(event);", ondrop="onUploadBoxDrop(event);")
    input(type="file", name="inputFiles", id="inputFiles", onchange="inputFilesChange(event);", multiple=true, hidden=true)
    label(for="inputFiles", class="upload_box_open_file_dialog")
      div
        span(id="inputFilesDescription")
      div 
        strong 点击选择
        span 或拖放文件到此处
      div
        span(id="selectedFilesDescription")
    div
      button(class="upload_box_button", type="submit", onclick="uploadFiles();") 上传文件
  div(id="uploadResult")
  p
    h3 This is Section4-Upload-Form. (Testing upload file with Multer)