extends layout

block scripts
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js")
  script(src="/javascripts/section3.js")

block content
  h1 Welcome to Section3 page

  h2 Text Area 1: Read Excel file then convert the sheet data to JSON and AntV Chart.

  table(width="800")
    tr 
      td
        button(id="btnA", class="button button--isi", style="width: 200px; cursor: pointer") Excel To JSON Object 对象输出
      td
        button(id="btnB", class="button button--isi", style="width: 200px; cursor: pointer") Excel To JSON String 字符串输出
      td
        button(id="btnC", class="button button--isi", style="width: 200px; cursor: pointer") Excel To AntV Chart AntV图表输出
    tr
      td
      td
      td
        form(id="formAntV", method="get", target="frameExcelChart", action="/excel2antv")
          | AntV Chart Type:&nbsp;
          select(name="antv_type")
            option(value="hbar") Horizental Bar Chart
            option(value="vbar") Vertical Bar Chart
            option(value="pie") Pie Chart
    tr 
      td.t1(colspan="3", width="100%", height="400")
        iframe(name="frameExcelChart", id="frameExcelChart", width="100%" height="100%")
    tr 
      td
        button(id="btnGeoA", class="button button--ujarak", style="width: 200px; cursor: pointer") Geo Map Chart Sample 1
      td
        button(id="btnGeoB", class="button button--ujarak", style="width: 200px; cursor: pointer") Geo Map Chart Sample 2
      td
        button(id="btnGeoC", class="button button--ujarak", style="width: 200px; cursor: pointer") Geo Map Chart Sample 3