extends layout

block content
  h3 Welcome to 
    span.title-color= title
    |  page

  h3 Test Area: Read Excel file then convert the sheet data to JSON and AntV Chart Samples.

  table(width="800")
    tr 
      td
        button(id="btnA", class="button button--isi", style="width: 230px; cursor: pointer") Excel To JSON Object<br>Excel file Generation<br>对象输出与文件生成
      td
        button(id="btnB", class="button button--isi", style="width: 230px; cursor: pointer") Excel To JSON String<br>字符串输出<br>&nbsp;
      td
        button(id="btnC", class="button button--isi", style="width: 230px; cursor: pointer") Excel To AntV Chart<br>AntV图表输出<br>&nbsp;
    tr
      td
      td
      td
        form(id="formAntV", method="get", target="frameExcelChart", action="/excel2antv")
          | Chart Type:&nbsp;
          select(name="antv_type")
            option(value="hbar") Horizental Bar Chart
            option(value="vbar") Vertical Bar Chart
            option(value="pie") Pie Chart
    tr 
      td.t1(colspan="3", width="100%", height="360")
        iframe(name="frameExcelChart", id="frameExcelChart", width="100%" height="100%")
    tr 
      td
        button(id="btnGeoA", class="button button--ujarak", style="width: 200px; cursor: pointer") Geo Map Chart Sample 1
      td
        button(id="btnGeoB", class="button button--ujarak", style="width: 200px; cursor: pointer") Geo Map Chart Sample 2
      td
        button(id="btnGeoC", class="button button--ujarak", style="width: 200px; cursor: pointer") Geo Map Chart Sample 3

block footer-scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js")
  script(src="/javascripts/section3.js")
