extends layout

block content
  div#s2-accordion

    h3 ICONFONTS / Unicode Emoji
    div
      p 
        table(width="100%", align="left", valign="top")
          tr
            td(width="33%", height="40")
              a.go1(href="/fonts/iconfont") ICONFONT
            td(width="33%")
              a.go1(href="/fonts/vicons") VICONS
            td
              a.go1(href="/fonts/codropsicons") CODROPSICONS
          tr
            td(height="40")
              a.go1(href="/emoji") Unicode® Emoji
            td(colspan=2)

    h3 Simple String Parse Sample
    div
        div(style="padding-bottom: 20px;")
          input#strParseText(type="text", value="{{image}}/images/express-logo.png{{text}}Express Logo{{image}}/images/nodejs-logo.png{{caption}}Node.js Logo" style="width:80vw;")
        div(style="padding-bottom: 20px;")
          button#btnParse.ui-button.ui-widget.ui-corner-all 解析字符串语句
        div(style="padding-bottom: 20px;")
          div 解析结果：
          div#strParseResult

    h3 RMB Converter
    div
      p
        input.s1(type="text", id="numRMB", placeholder="请输入金额", maxlength=15, style="text-align:right", onfocus="javascript:this.select();")
        | &nbsp; &nbsp;
        button.rmb(onclick="javascript:doRMBconvert();") 转换人民币金额
        | &nbsp; &nbsp;
        input.s1(type="text", id="strRMB", style="width:500px", value="", onfocus="javascript:this.select();")

    h3 Dynamic Data Test
    div
      div
        button.ui-button.ui-widget.ui-corner-all#AddTest(onclick="click_add_test();") DIV增加内容测试
        button.ui-button.ui-widget.ui-corner-all#EmptyTest(title="清空内容")(style="margin-left:1.5em;")
          span.ui-button-icon.ui-icon.ui-icon-arrowrefresh-1-w
      div
        //- applesum参数传递测试
        case applesnum 
          when 0
            p 测试参数传递：Sorry, 没有苹果。
          default
            p 测试参数传递：苹果数量 #{applesnum} 个。
        //- 测试Javascript增加内容
        p
          span.custom-caption-highlight DIV位置：
          div#d1 
        //- 测试JQuery增加内容
        p
          span.custom-caption-highlight span.test位置：
          span.test
        p
          span.custom-caption-highlight #d2位置：
          span#d2
        p
          span.custom-caption-highlight &lt;ol&gt;位置：
          ol.d3

    h3 Sample Links...
    div
      p 
        table(width="100%", align="left", valign="top")
          tr
            td(width="33%", height="40")
              a.go1(href="/helloantv.html") Awesome graphic chart from AntV
            td(width="33%")
              a.go1(href="/helloechart.html") Awesome graphic chart from ECharts
            td
              a.go1(href="/ButtonStylesInspiration.html") Awesome button effects
          tr
            td(height="40")
              a.go1(href="/eventtest") Event emitter export file test
            td
              a.go1(href="/racinggame") Timer racing gambling game
              //- a.go1(href="/otg240.html") Test: TXT Grabee for XS240
            td
              a.go1(href="http://order.4px.com/order/personal_center/index" target="4PX-Window") Test：Go 4PX in another window.

block footer-scripts
  script(src="/javascripts/RMBconverter.js")
  script(src="/javascripts/section2.js")
  script.
    $(document).ready(function() {
      $( "#s2-accordion" ).accordion({
        heightStyle: "content"
      });
    });
