extends iframe-layout

block content
  
  p 查询情况： #{message} 
  p 快递公司： 
    case com
      when "yuantong"
        | 圆通快递
      when "shentong"
        | 申通快递
      when "shunfeng"
        | 顺丰快递
      default
        | 不知道
  p 快递单号： #{nu} 
  p 查询信息：
    ul
      each objInfo in data
        li= objInfo.time + ', ' + objInfo.context

  h1 This is Section2-1.