body {
  padding: 10px;
  margin-top: 0px;
  margin-left: 0px;
  font: 1em "Cambria", Arial, sans-serif, "Lucida Grande", Helvetica;
	background: white;
	color: #37474f;
}

a.pagejumping {
  text-decoration:none;
  text-shadow:1px 1px 2px darkgray;
  color: rgb(64, 107, 199);
  font-size: 22px;
  font-style: oblique;
}
a.pagejumping:hover {color:#FF3300;text-decoration:underline;}

a.go1 {
  color: rgb(116, 146, 172);
  font: 20px "Cambria", sans-serif;
  font-weight: bold;
}
a.go1:hover {
  color: rgb(252, 206, 39);
  text-shadow:1px 1px 1px black;
}

/* class "s1" is for input and select */
.s1 {
  border-width : 2px;
	border-color : #7986cb;
	border-style : solid;
	border-bottom-width : 2px;
	border-left-width : 2px;
	border-right-width : 2px;
	border-top-width : 2px;
	font-family : 'Courier New', Courier, monospace;
	font-size : 14pt;
	font-weight : bold;
	height : 40px;
}

td.t1 {
  background: #fbfbfb;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 0 0 3px white;
}

hr {
  border: 1px dotted rgb(194, 214, 253);
}

iframe {
  border-style : none;
}

iframe.wb2, canvas.wb2 {
  background: white;
  border-style : dotted;
  border-width: 2px;
}

.title-color {
  color: rgb(53, 116, 40)
}

button.qr {
  border: 1px;
  border-style : solid;
  width : 150px;
  height: 40px;
  background-color: bisque;
  font-size : 12pt;
  font-family :  Cambria, Georgia;
  font-weight: bold;
}
button.bar {
  border: 1px;
  border-style : solid;
  width : 150px;
  height: 40px;
  background-color: rgb(196, 255, 221);
  font-size : 12pt;
  font-family :  Cambria, Georgia;
  font-weight: bold;
}

button.rmb {
  border: 1px;
  border-style : solid;
  width : 180px;
  height: 42px;
  background-color: rgb(255, 196, 237);
  font-size : 12pt;
  font-family :  Cambria, Georgia;
  font-weight: bold;
}
button.qr:hover, button.bar:hover, button.rmb:hover {
  cursor: pointer;
  background-color: aqua;
}

textarea {
  border: 1px;
  border-style : solid;
  background-color: rgb(252, 251, 199);
}

.s4-panel {
  border:1px dashed #A0CAEA;
}

.custom-text {
  color: black;
  font-size: 1.2rem;
}

.custom-caption {
  color: grey;
  font-style: italic;
  font-size: 1rem;
}
