body {
  padding: 10px;
  margin-top: 0px;
  margin-left: 0px;
  font: 1em "Cambria", Arial, sans-serif, "Lucida Grande", Helvetica;
	background: white;
	color: #37474f;
}

a.pagejumping {
  text-decoration:none;
  text-shadow:1px 1px 2px darkgray;
  color: rgb(64, 107, 199);
  font-size: 22px;
  font-style: oblique;
}
a.pagejumping:hover {color:#FF3300;text-decoration:underline;}

a.go1 {
  color: rgb(77, 167, 240);
  font: 1.25em "Cambria", sans-serif;
}
a.go1:hover {
  color: rgb(235, 165, 14);
  text-shadow:1px 1px 1px #CCC;
}

/* class "s1" is for input and select */
.s1 {
  border-width : 2px;
	border-color : #7986cb;
	border-style : solid;
	border-bottom-width : 1px;
	border-left-width : 0px;
	border-right-width : 0px;
	border-top-width : 0px;
	font-family : 'Courier New', Courier, monospace;
	font-size : 14pt;
	font-weight : bold;
	height : 36px;
}

td.t1 {
  background: #fbfbfb;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 0 0 3px white;
}

hr {
  border: 1px dotted rgb(194, 214, 253);
}

iframe {
  border-style : none;
}

iframe.wb2, canvas.wb2 {
  background: white;
  border-style : dotted;
  border-width: 2px;
}

.title-color {
  color: rgb(53, 116, 40)
}

button.qr, button.bar, button.rmb {
  border: 1px;
  border-style : solid;
  width : 150px;
  height: 36px;
  background-color: bisque;
  font-size : 0.75em;
  font-family :  Cambria, Georgia;
  font-weight: bold;
}
button.bar {
  background-color: rgb(196, 255, 216);
}
button.rmb {
  background-color: rgb(255, 196, 214);
}
button.qr:hover, button.bar:hover, button.rmb:hover {
  cursor: pointer;
  background-color: rgb(65, 122, 0);
  color: white;
}

textarea {
  border: 1px;
  border-style : solid;
  background-color: rgb(252, 251, 199);
}

.s4-panel {
  border:1px dashed #A0CAEA;
}

.custom-text {
  color: black;
  font-size: 1.2rem;
}

.custom-caption {
  font-size: 1rem;
  font-style: italic;
  color: grey;
}

.custom-caption-highlight {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(245, 95, 58)
}

/* for lotto balls */
ul.balllist {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul.balllist li {
  display: inline;
  margin-right: 1.25rem;
}

.redball, .blueball  {
  display: inline-block;
  width: 1.65em;
  height: 1.65em;
  font-weight: bolder;
  color: white;
  padding: 0.15em;
  border-radius: 50%;
  vertical-align: baseline;
  text-align: center;
}
.redball {
  background-color: #F00;
}
.blueball {
  background-color: #00F;
}

/* for lunar day */
.lunar-inline-space {
  margin-right: 1em;
}
.lunar-good, .lunar-bad {
  font-size: 1.1em;
  font-weight: bold;
}
.lunar-good {
  color: #070;
}
.lunar-bad {
  color: #f00;
}
